@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: #8c52ff;
    background: #ff914d;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #8c52ff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff914d;
    border-radius: 5px;
    transition: background 3ms ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff914d;
}

.scroll-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
}

.waviy {
    position: relative;
    /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2)); */
    font-size: 60px;
}

.waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 2.4s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
}
